<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />   <!-- ← Добавьте эту строку -->
    <queries>
        <package android:name="ru.sberbankmobile" />
        <package android:name="com.idamob.tinkoff.android" />
        <package android:name="ru.vtb24.mobilebanking.android" />
        <package android:name="ru.alfabank.mobile.android" />
        <package android:name="ru.zhuck.webapp" />
        <package android:name="ru.yoo.money" />
        <package android:name="ru.bcs.bcsbank" />
    </queries>
    <application
        android:name=".app.CommunalPaymentsApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/winter_house"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/winter_house_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CommunalPayments">
        <activity
            android:name=".presentation.screen.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CommunalPayments">
            <!-- Запуск из лаунчера (обязательно) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- ====== ACTION_SEND (для большинства банков) ====== -->
            <!-- С явным PDF -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>

            <!-- С любым типом (если банк указывает, но не PDF) -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- БЕЗ типа (критично для многих банков!) -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- ====== ACTION_VIEW (для открытия PDF из файловых менеджеров и т.п.) ====== -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="application/pdf" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="application/pdf" />
            </intent-filter>

            <!-- VIEW с content и любым типом -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- VIEW без типа и схемы (на случай, если приходит просто ссылка) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- ====== ACTION_SEND_MULTIPLE (Сбербанк) ====== -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/uri-list" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
